@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  background-color: #222831;
  grid-template-rows: 1fr 2fr 6fr 2fr 1fr;
  gap: 1rem;
}



.title {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  text-align: center;
  color: pink;
  padding: 2rem 0;
  background-color: #111720;
}

.status {
  min-height: 2rem;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 1.2rem;
  display: grid;
}

.status p {
  align-self: center;
}


.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 8rem);
  grid-template-columns: repeat(3, 8rem);
  justify-content: center;
  gap: 1rem;
}

.grid-item {
  cursor: pointer;
  background-color: #fff;
  font-size: 6rem;
  text-align: center;

    text-transform: uppercase;
    
    font-weight: 700;
    color: hsl(0, 4%, 91%);
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}

.control-btn {
  align-self: center;
  justify-self: center;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}

.control-btn:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

.control-btn:active{
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

.footer {
  align-self: center;
  justify-self: center;
}





